.team-section {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.supervisor,
.team-member {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.supervisor {
  margin-bottom: 3rem;
}

.team-member:hover,
.supervisor:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-member img,
.supervisor img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.team-member:hover img,
.supervisor:hover img {
  transform: scale(1.05);
}

.member-info {
  padding: 1.5rem;
}

.member-info h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.member-info p {
  color: #666666;
  font-size: 1rem;
  line-height: 1.5;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #4a4a4a;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #0077b5;
}

.supervisor img {
  width: auto;
  height: 250px;
}

@media (max-width: 768px) {
  .team-section {
    padding: 1rem;
  }

  .member-info h3 {
    font-size: 1.2rem;
  }

  .member-info p {
    font-size: 0.9rem;
  }

  .team-members {
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }
  .team-member img,
  .supervisor img {
  width: 50%;
  height: 250px; /* Adjusted height for better image fit */
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
}