/* EmailRestAPI.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 31px;
  }
  
  .contact-form {
    max-width: 510px;
    margin: 30px auto;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
  }
  
  .contact-form__container p {
    margin: 0;
    text-align: left;
  }
  
  .contact-form__header h2 {
    color: #4a4a4a;
    background-color: #f7f7f7;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .contact-form__header p {
    margin-bottom: 0;
    color: #311c56;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
  }
  
  p {
    text-align: center;
    font-weight: 500;
  }
  
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #311c56;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  textarea {
    height: 140px;
  }
  
  input[type="submit"]:hover {
    background-color: #140c23;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .sucsess {
    margin: 20px 0;
    border: 1px solid green;
    padding: 7px;
    font-weight: bold;
  }
  
  .error {
    margin: 20px 0;
    border: 1px solid red;
    padding: 7px;
    font-weight: bold;
  }
  